web/node_modules
web/.next
web/out
web/build
web/test-results
web/playwright-report
web/tmp/*
.git
.gitignore
.dockerignore
README.md
node_modules
npm-debug.log
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.synctex.gz
